/.fleet
/.idea
/.vscode
/.vagrant
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/node_modules
Vagrantfile
nginx.conf
.env
.env.backup
.env.production
.rnd
.phpunit.result.cache
composer.lock
npm-debug.log
yarn-error.log
yarn.lock
