Vagrant.configure("2") do |config|
	# Vagrant kutusu
	config.vm.box = "ubuntu/focal64"

	# Port yönlendirme
	config.vm.network "forwarded_port", guest: 80, host: 80
	config.vm.network "forwarded_port", guest: 3306, host: 3306
	config.vm.network "forwarded_port", guest: 27017, host: 27017
	config.vm.network "forwarded_port", guest: 1080, host: 1080

	# İnce ayarlar
	config.vm.provider "virtualbox" do |vb|
		vb.name = "local.example.com"
		vb.cpus = 1
		vb.memory = 4096
	end

	# İlk kurulumda çalışan betik
	config.vm.provision "shell", path: "https://raw.githubusercontent.com/X-Adam/vagrant-shell-script/master/ubuntu/focal64/scripts/install.sh", env: {
	    "TIMEZONE" => "Europe/Istanbul",
	    "PHP_VERSION" => "8.1",
	    "DOMAIN" => "example.com",
	    "DIR" => "www",
	    "DB_PASSWORD" => "secret"
	}

	# Her açılışta çalışacak betik
	config.vm.provision "shell", run: "always", inline: <<-SHELL
		service nginx reload;
		rm -f /etc/supervisor/conf.d/*;
		cp /var/www/example.com/www/config/workers/* /etc/supervisor/conf.d;
		supervisorctl reread;
		supervisorctl update;
		supervisorctl restart all;
		echo "Happy codings :).";
	SHELL
end
